<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
                content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Secure Node Blog</title>
    </head>
    <body>
        <% errors.forEach(error => { %>
        <p><%= error %></p>
        <% }) %>
        <form action="/auth/local/signup" method="post">
            <input name="email" placeholder="email"/>
            <br>
            <input name="username" placeholder="username"/>
            <br>
            <input
                    type="password" name="password" placeholder="password"/>
            <br>
            <input name="profilePic"
                    placeholder="your profile picture link"/>
            <input type="submit"/>
        </form>
    </body>
</html>
